/* all style */
* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

header {
    background-image: url('../images/banner/banner2.png');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.benner-content {
    position: absolute;
    top: 28%;
    right: 18%;
    text-align: right;
    width: 458px;

}

.benner-content h2 {

    font-weight: 700;
    font-size: 65px;
    color: #151414;
    padding-bottom: 24px;
}

.benner-content p {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    text-align: right;
    padding-bottom: 32px;
    line-height: 26px;

}

.btn-primary {
    padding: 20px 30px;
    background-color: #F15B22;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}

section {
    padding-top: 130px;
}

.failure {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.person-image {
    margin-left: 230px;
}

.person-content {
    width: 420px;
    margin-left: 87px;
    margin-top: 130px;
}

.person-content h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    width: 281px;
    padding-bottom: 24px;
    color: #151414;
}

.person-content p {
    line-height: 26px;
    padding-bottom: 16px;
    color: #444343;

}

.person-content ul {
    list-style: none;
}

.person-content ul li {
    line-height: 30px;
}

.person-content ul li i {
    color: #16d887;
}

/* plan style */
.my-plan {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-align: center;
}

.my-plan-title {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.box {
    text-align: center;
}

.box h2 {
    padding: 16px 0;

}

.box p {
    font-weight: 500;
    font-size: 20px;


    color: #737272;

}

/* watch section stye */
.watch {
    background-image: url(../images/watch.png),
        linear-gradient(to right, #F15B22 0%, white);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    width: 80%;
    height: 30vh;
    background-position: center, center;
    background-size: cover;
    position: relative;
    margin: auto;
    border-radius: 10px;



}

.watch-content {
    position: absolute;
    top: 35px;
    left: 50px;
}

.watch-content h4 {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    width: 400px;

}

/* footer style  */
footer {
    background: #151414;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    text-align: center;
    min-height: 30vh;
    padding: 100px 0;
    margin-top: 130px;

}

.left-footer-content {
    width: 466px;
}

.left-footer-content h2 {
    font-weight: 700;

    font-size: 45px;

    padding-bottom: 16px;
}

.left-footer-content p {
    line-height: 26px;

    padding-bottom: 24px;
}

.left-footer-content ul {
    list-style: none;
}

.left-footer-content ul li {
    padding-bottom: 16px;
}

.social-icons {
    padding-top: 8px;
}

.social-icons i {
    font-size: 30px;

    margin-left: 17px;
}

.right-footer-content {
    width: 260px;
}

.right-footer-content h4 {
    font-weight: 600;

    font-size: 25px;

    padding-bottom: 31px;
}

.right-footer-content input {
    padding: 21px 130px 21px 15px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #ffff;
}

.right-footer-content input::placeholder {
    color: #ffff;
    text-align: left;
}

.right-footer-content .btn-primary {
    background: #FFFFFF;
    color: #F15B22;
    margin-top: 16px;
}