/* all style */
* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

header {
    background-image: url('../images/banner/banner2.png');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.benner-content {
    position: absolute;
    top: 28%;
    right: 18%;
    text-align: right;
    width: 458px;

}

.benner-content h2 {

    font-weight: 700;
    font-size: 65px;
    color: #151414;
    padding-bottom: 24px;
}

.benner-content p {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    text-align: right;
    padding-bottom: 32px;
    line-height: 26px;

}

.btn-primary {
    padding: 20px 30px;
    background-color: #F15B22;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}

section {
    padding-top: 130px;
}

.failure {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.person-image {
    margin-left: 230px;
}

.person-content {
    width: 420px;
    margin-left: 87px;
    margin-top: 130px;
}

.person-content h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    width: 281px;
    padding-bottom: 24px;
    color: #151414;
}

.person-content p {
    line-height: 26px;
    padding-bottom: 16px;
    color: #444343;

}

.person-content ul {
    list-style: none;
}

.person-content ul li {
    line-height: 30px;
}

.person-content ul li i {
    color: #16d887;
}

/* plan style */
.my-plan {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-align: center;
}

.my-plan-title {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.box {
    text-align: center;
}

.box h2 {
    padding: 16px 0;

}

.box p {
    font-weight: 500;
    font-size: 20px;


    color: #737272;

}